@model Abc.Northwind.MvcWebbUI.Models.ProductListViewModel
@using Microsoft.AspNetCore.Razor.TagHelpers;
    @{
        ViewBag.Title = "title";
        Layout = "~/Views/_AdminLayout.cshtml";
    }
    <a class="btn btn-xs btn-success" href="~/admin/add" asp-action="Add">Add a new product</a>
    <div>
        <table class="table table-striped table-dark">
            <tr>
                <td>Product Name</td>
                <td> UnitPrice</td>
                <td> UnitInStock</td>
                <td></td>
                <td></td>
            </tr>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td> @product.ProductName</td>
                    <td> @product.UnitPrice </td>
                    <td>@product.UnitsInStock</td>
                    <td><a class="btn btn-xs btn-info" asp-controller="Admin" asp-action="Update" asp-route-productId="@product.ProductId"href="~/admin/update">Update</a></td>
                    <td><button class="btn btn-xs btn-danger" asp-controller="Admin" asp-action="Delete" asp-route-productId="@product.ProductId">Delete</button>
                    </td>
                </tr>
            }
        </table>
    </div>